* {box-sizing: border-box;}
body{
    font-family: poppins;}

.wrapper{ 
    max-width: 1200px;
 margin: 0 auto;
}

h1{
font-size:2.027rem ; 
text-align: center;
}

h2{
    font-size: 1.802rem;
    text-align: center;
}

h3{
    font-size: 1.266rem ;
    text-align: center;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
list-style:none;
display: flex;
gap: 20px;
}



.images-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "product1 product1 product1"
    "product1 product1 product1"
    "product1 product1 product1"
    "product2 product3 product4";
    gap: 20px;
}

.images-grid :nth-child(1){
    grid-area: product1;
}
.images-grid :nth-child(2){
    grid-area: product2;
}
.images-grid :nth-child(3){
    grid-area: product3;
}
.images-grid :nth-child(4){
    grid-area: product4;
}


.btn{
    padding: 2%;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.behind-grid{
    background-color: #f8fafc;
    display: grid;
}

.behind{
    background-color: #f8fafc;
}

.behind-text{
    margin-bottom: 0%;
    padding: 2%;
    display: grid;
    gap: 20px;
}

.behind h2{
padding-top: 10px;
margin-bottom: 0%;
}

.reviews{
    background-color: black;
    color: #fff;
}

footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.card{
    background-color: #f8fafc;   
    max-width: 100%;
    margin: 0px;
    text-align: center; 
}


.reviews h2{
      
   padding-top: 30px;
    
}


.quotes{
    display: grid;
    padding: 0;
    padding-bottom: 10%;
}


.products{
    display: grid; 
    grid-template-columns: 1fr 1fr ; 
    gap: 10px;  
}

.sweetheart-grid{
    display: grid;
}


@media(min-width:768px){
.products{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;}

.quotes{
    grid-template-columns: 1fr 1fr 1fr;
}

.images-grid{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "product1 product2"
    "product3 product4"
    "product5 product5";   
}

.sweetheart-grid{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

}



@media(min-width:960px){

.sweetheart-grid{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 10%;
}

.behind-text{
    grid-template-columns: 1fr 1fr;
}

.quotes{
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media( max-width: 1200px){
    sweetheart-grid{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-bottom: 10%;
    }
    
    .behind-text{
        grid-template-columns: 1fr 1fr;
    }
    
    .quotes{
        grid-template-columns: 1fr 1fr 1fr;
    }

}